@media (max-width: 1199px) {
	.menu-list {
		display: none;
	}
	.burger {
		display: block;
	}
	.header-content {
		width: 85%;
	}
	.trends-list {
		flex-wrap: wrap;
	}
	.post {
		flex-direction: column;
		position: relative;
	}
	.post:not(:last-child)::after {
		content: '';
		width: 100%;
		height: 4px;
		position: absolute;
		bottom: -22px;
		background-color: #eee;
	}
	.post-img {
		margin-right: 0;
	}
	.post-content {
		width: 100%;
	}
	.post-description {
		width: 100%;
	}
	.products-section {
		padding-bottom: 20px;
	}
	.products {
		flex-wrap: wrap;
	}
	.copyright {
		padding-top: 49px;
	}
}

/*----------------------tablet----------------------*/

@media (min-width: 641px) and (max-width: 1199px) {
	.header {
		background-image: url('../images/banner-bg-tablet.jpg');
	}
	.logo img {
		width: 158px;
		height: 36px;
	}
	.header-content {
		padding: 82px 0 115px;
	}
	.header-title {
		font-size: 2.5rem;
		line-height: 1.375em;
	}
	.trends {
		padding: 43px 0;
	}
	.big-title {
		font-size: 1.125rem;
	}
	.trends-list {
		margin-top: 19px;
	}
	.trends-card:nth-child(odd) {
		margin: 0 2px 4px 0;
	}
	.trends-card:nth-child(even) {
		margin: 0 0 4px 2px;
	}
	.trends-card {
		width: calc(50% - 4px);
		height: 246px;
	}
	.item-title a {
		font-size: 1.062rem;
		line-height: 1.29em;
	}
	.main {
		width: 54%;
		margin-right: 30px;
	}
	.post {
		margin-bottom: 61px;
	}
	.post-img img {
		width: 100%;
		object-fit: cover;
	}
	.post-content {
		margin-top: 7px;
	}
	.post-title a {
		width: 100%;
	}
	.description-text {
		margin-top: 29px;
	}
	.post-description + p {
		margin-top: 14px;
	}
	.products-section {
		padding-top: 10px;
	}
	.products {
		margin-top: 28px;
		align-content: center;
	}
	.product-card:nth-child(odd) {
		margin-right: 20px;
	}
	.product-card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
	.trends-card:nth-child(odd), .trends-card:nth-child(even) {
		margin: 0;
	}
	.trends-card:not(:last-child) {
		margin-right: 4px;
	}
	.trends-card {
		width: calc(25% - 4px);
	}
}

/*---------------------mobile----------------------*/

@media (max-width: 640px) {
	.header {
		background-image: url('../images/banner-mobile.jpg');
		padding-bottom: 84px;
	}
	.nav {
		position: relative;
	}
	.logo img {
		width: 269px;
		height: 61px;
		position: absolute;
		top: 230px;
		left: 50%;
		transform: translate(-50%);
	}
	.header-content {
		margin-top: 154px;
	}
	.header-title {
		font-size: 1.625rem;
		line-height: 1.38em;
	}
	.title {
		font-size: 1rem;
	}
	.trends {
		padding: 40px 0 41px;
	}
	.trends-list {
		margin-top: 22px;
	}
	.trends-card:nth-child(odd), .trends-card:nth-child(even) {
		margin: 0 0 4px 0;
		width: 100%;
		height: 230px;
	}
	.trends-garden .trends-content {
		padding: 7% 5%;
	}
	.trends-garden a {
		max-width: 215px;
	}
	.trends-cheese .trends-content {
	    padding: 7% 5% 8% 4%;
	}
	.trends-hike .trends-content {
	    padding: 7% 7% 7% 5%;
	}
	.item-title a {
		font-size: 1rem;
		line-height: 1.25em;
	}
	.page {
		flex-wrap: wrap;
		align-items: center;
	}	
	.post {
		margin-bottom: 53px;
	}
	.post::after {
		content: '';
		width: 100%;
		height: 4px;
		position: absolute;
		bottom: -22px;
		background-color: #eee;
	}
	.post-img img {
		width: 100%;
		max-height: 254px;
		object-fit: cover;
	}
	.post-content {
		margin-top: 6px;
	}
	.post-title a {
    	margin-bottom: 14px;
	}
	.description-text {
    	margin-top: 13px;
    	font-size: 0.875rem;
	}
	.description-text + p {
    	margin-top: 19px;
	}
	.sidebar {
		width: 100%;
	}
	.latest-posts {
		width: 280px;
		margin: 0 auto 60px;
	}
	.new-posts {
		margin: 0 auto 28px;
	}
	.search {
		margin-bottom: 39px;
	}
	.subscribe {
		margin-bottom: 40px;
	}
	.tags {
		margin-bottom: 32px;
	}
	.tag-link {
		padding: 3px 12px 5px;
	}
	.products-section {
		padding-top: 50px;
	}
	.products {
		margin: 28px auto 0;
	}
	.product-card {
		width: 100%;
		margin-bottom: 26px;
	}
	.card-body {
		height: 240px;
	}
	.product-title {
		font-size: 1.062rem;
	}
	.card-footer {
		margin-bottom: 28px;
	}
}

@media (min-width: 640px) and (max-width: 1023px) and (orientation: landscape) {
	.trends-card:nth-child(odd) {
		margin: 0 2px 4px 0;
	}
	.trends-card:nth-child(even) {
		margin: 0 0 4px 2px;
	}
	.trends-card {
		width: calc(50% - 4px);
	}
}

/*----------------------------------------------*/

@media (max-height: 660px) {
	.popup-close {
		top: 0;
		right: -26px;
	}
}