@media (min-width: 641px) and (max-width: 1199px) {
/*	.trends {
		margin: 0 auto;
	}*/
	.trends-container {
	/*	width: 100%;
		max-width: 1920px;
		margin: 0 auto;*/

	}
	}
	.trends-list {
		justify-content: center;
/*		margin: 0 auto;*/
		flex-wrap: wrap;
	}
	.trends-card {
		margin: 0 0 2px 0;
		min-width: 380px;
		width: calc(50%-2px);
	}

	.trends-card:nth-child(2) {
		margin: 0;
	}

	.trends-card:nth-child(odd) {
		margin-right: 2px;
	}
	.trends-card:nth-child(even) {
		margin-left: 2px;
	}
}



@media (max-width: 1199px) {
	.container {
		max-width: 990px;
	}
	.header-content {
		width: 77%;
	}
	.menu-list {
		display: none;
	}
	.burger {
		display: block;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 570px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 90%;
	}
}




